<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>EDITAR REGISTRO <%= user.id %></title>
  </head>
  <body>
    <header style="width: 100%;height: 180px; overflow: hidden; background: #48bb78; margin-bottom: 20px;">
      <div class="wrapper" style="width: 90%; margin: auto; overflow: hidden;">
      <div class="logo" style="color: #f2f2f2; font-size: 40px; font-family: 'Nexa'; line-height: 200px; float: left;">CÓMPUTO DE HORAS</div>
      <nav style="float: right; line-height: 190px;">
          <a href="/create" style="background-color: #007bff; border-color: black;" class="btn btn-primary">Nueva Imputacion</a>
          <a href="/index" style="background-color: #007bff; border-color: black; margin: 6px;" class="btn btn-primary">Registro</a>
          <a href="/home">
          <a href="/home"style="background-color: #fff; border-color: black; margin: 6px;" class="btn btn-primary"></a>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="18" fill="currentColor !important" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
              </svg>
        </a>
      </nav>
      </div>
      </header>
      <% if (user) { %>
      <div style="display:block; margin-right: auto; margin-left: auto; margin-top: 3rem; margin-bottom: 3rem; padding: 2rem; 
      background-color:white; width: 33.333333%; border-color: #edf2f7; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); color: #2d3748;">
      
          <h1 style="text-align: center; font-size: 30px; line-height: 36px; font-weight: bold;">Editar Imputacion <%= user.id %></h1>
      
          <form action="/update" method="POST">
              <input id = "id" name = "id" value="<%= user.id %>" hidden>
                <div class = "mb-3">
                    <label for="user" class="form-label">Empresa</label>
                    <input type = "text" class="form-control" id="work" name="work" value="<%= user.work%>" tabindex="1">

                    <label for="user" class="form-label">Nombre</label>
                    <input type = "text" class="form-control" id="user" name="user" value="<%= user.user%>" tabindex="2">
                    
                    <label for="user" class="form-label">Puesto</label>
                 
                    <select id="position" name="position" class="form-control" tabindex="3">                      
                        <option value="">Selecciona tu puesto de trabajo</option>
                        <option <%= user.position=='IT ALM' ? "selected" : '' %> value="IT ALM">IT ALM</option>
                        <option <%= user.position=='IT Operations'%> value="IT Operations">IT Operations</option>
                        <option <%= user.position=='IT SalesForce'%> value="IT SalesForce">IT SalesForce</option>
                        <option <%= user.position=='IT AMS'%> value="IT AMS">IT AMS</option>
                        <option <%= user.position=='Commercial'%> value="Commercial">Commercial</option>
                        <option <%= user.position=='IT Connectivity'%> value="IT Connectivity">IT Connectivity</option>
                        <option <%= user.position=='IT Costumer'%> value="IT Customer">IT Customer</option>
                        <option <%= user.position=='IT Tools'%> value="IT Tools">IT Tools</option>
                        <option <%= user.position=='Mobile'%> value="Mobile">Mobile</option>
                        <option <%= user.position=='LEVEL'%> value="LEVEL">LEVEL</option>
                        <option <%= user.position=='IT People'%> value="IT People">IT People</option>
                    </select>
     
                    <label for="user" class="form-label">Horas</label>
                    <input type = "text" class="form-control" id="hours" name="hours" value="<%= user.hours%>" tabindex="4">
                </div>
                <button type="submit" style="background-color: #48bb78;" class = "btn btn-primary" tabindex = "5">Guardar</button>
                <a href="/index" style="background-color: #bb4848;" class="btn btn-secondary">Cancelar</a>
        </form>
        <% } %>
</body>
</html>