<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <title>VISTA REGISTRO <%= user.id %></title>
  </head>
  
    <header style="width: 100%;height: 180px; overflow: hidden; background: #48bb78; margin-bottom: 20px;">
        <div class="wrapper" style="width: 90%; margin: auto; overflow: hidden;">
        <div class="logo" style="color: #f2f2f2; font-size: 40px; font-family: 'Nexa'; line-height: 200px; float: left;">CÓMPUTO DE HORAS</div>
        <nav style="float: right; line-height: 190px;">
            <a href="/create" style="background-color: #007bff; border-color: black;" class="btn btn-primary">Nueva Imputacion</a>
            <a href="/index" style="background-color: #007bff; border-color: black; margin: 6px;" class="btn btn-primary">Registro</a>
            <a href="/home"style="background-color: #fff; border-color: black; margin: 6px;" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="18" fill="currentColor !important" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                  </svg>
            </a>
        </nav>
        </div>
        </header>
<body style="padding-bottom: 30px;">
<div style = "max-width: 797px; margin-right: auto; margin-left: auto; padding-right: 1.5rem; padding-left: 1.5rem;">
    <h1 style="text-align: center; font-size: 30px; line-height: 36px; font-weight: bold;">Registro: <%= user.id %>, <%= user.user %></h1>
    <div style="border-style: solid; border-color: #edf2f7; margin-top: 50px;">
        <table id="users" style="border-top-width: 1px; border-color: rgb(209 213 219); ">
            <thead style="background-color: #48bb78">
                <tr>
                    <th style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-size: .75rem; color: #f2f2f2;">
                        ID
                    </th>
                    <th style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-size: .75rem; color: #f2f2f2;">
                        Empresa
                    </th>
                    <th style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-size: .75rem; color: #f2f2f2;">
                        Nombre del trabajador
                    </th>
                    <th style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-size: .75rem; color: #f2f2f2;">
                        Puesto de trabajo
                    </th>
                    <th style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-size: .75rem; color: #f2f2f2;">
                        Horas
                    </th>
                    <th style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-size: .75rem; color: #f2f2f2;">
                        Edit
                    </th>
                    <th style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-size: .75rem; color: #f2f2f2;">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody style="background-color:white; border-top-width: 1px; border-color: rgb(209 213 219);">
                <% if (user) { %>
                <tr style="white-space: nowrap;">
                    <td style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 1rem; padding-bottom: 1rem; font-size: .875rem; color: #a0aec0;">
                        <%= user.id %>
                    </td>
                    <td style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 1rem; padding-bottom: 1rem;">
                        <div style="font-size: .875rem; color: #a0aec0;">
                            <%= user.work %>
                        </div>
                    </td>
                    <td style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 1rem; padding-bottom: 1rem;">
                        <div style="font-size: .875rem; color: #a0aec0;"></div>
                        <%= user.user %>
                    </td>
                    <td style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 1rem; padding-bottom: 1rem; font-size: .875rem; color: #a0aec0;">
                        <%= user.position %>
                    </td>
                    <td style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 1rem; padding-bottom: 1rem; font-size: .875rem; color: #a0aec0;">
                        <%= user.hours %>
                    </td>
                    <td style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 1rem; padding-bottom: 1rem;">
                        <a href="/edit/<%= user.id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width: 1.5rem; height: 1.5rem; color: #63b3ed;" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                            </svg>
                        </a>
                    </td>
                    <td style="padding-right: 1.5rem; padding-left: 1.5rem; padding-top: 1rem; padding-bottom: 1rem;">
                        <!-- <a href="/delete/<%= user.id %>" onclick="return confirm('¿Esta seguro de eliminar registro?')"> -->
                            <a style="cursor: pointer;" onclick="confirmar(<%= user.id %>)">

                            <svg xmlns="http://www.w3.org/2000/svg" style="width: 1.5rem; height: 1.5rem; color: #fc8181;" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </a>
                    </td>
                </tr>
                <% } %>
            </tbody>

        </table>
    </div>
    <a href="/index" style="background-color: #48bb78; border-color: black; margin-top: 15px;" class="btn btn-primary">Atrás</a>
    </div>
</body>
            <script src ="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"></script>
            <script>
                function confirmar(id){
                    Swal.fire({
                    title: '¿Estás seguro que quieres eliminar el registro ' +id+'?', 
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Confirmar'
                    }).then((result) => {
                    if (result.isConfirmed) {
                        window.location = '/delete/'+id;
                            }
                        })
                    }
            </script>
   
    </html>